//- 

extends ../layouts/default

block intro
  .container
    h1 Online Booking

block content
  body(data-spy="scroll" data-target=".navbar" data-offset="150")
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(data-toggle="collapse" data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .brand: img(src="../images/lash&brow.png")
      .collapse.navbar-collapse#myNavbar
        ul.nav.navbar-nav(style="margin-top:30px;")
          li: a(href="/" active) Home
          //- li: a(href="/#team") team
          //- li: a(href="/#photo") photos
          //- li: a(href="/#contact") contact
          //- li: a(href="/book") book online
  .container
    .center-500.y-masters-list.y-masters-lis_mt
      if data.user
        h1 = data.user.name.first + " " + data.user.name.last
      else
        h1 Empty data