extends ../layouts/default

block intro
	.container
		h1 Users
	
block content
	.container
		if users.length
			each user in users
				h2= user.email
					if user.publishedDate
						.pull-right.text-muted= user._.publishedDate.format('Do MMM YYYY')
				
				.row.user-images
					each image in user.images
						.col-xs-6.col-sm-6.col-md-6.user-image: img(src=image.limit(800,800)).img-rounded
					.col-xs-6.col-sm-6.col-md-6: p=user.brief
		else
			h3.text-muted There are no image users yet.
